/* navbar */

body{
    font-family: Century Gothic, sans-serif;
}

.navbar-inverse {
    background-color: white;
    border-color: white;
}
/* title */
.navbar-inverse .navbar-brand {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
    color: #009999;
    font-size: 26px;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #009999;
}
/* link */
.navbar-inverse .navbar-nav > li > a {
    
    line-height: 70px;
    height: 70px;
    padding-top: 0;
    color: #009999;
    font-size:16px;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color:grey;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    color: grey;
    background-color: white;
}
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}


/* caret */
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret,
.navbar-inverse .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-inverse .navbar-nav > .open > a .caret, 
.navbar-inverse .navbar-nav > .open > a:hover .caret, 
.navbar-inverse .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-inverse .navbar-toggle {
    border-color: #DDD;
}
.navbar-inverse .navbar-toggle:hover,
.navbar--inverse .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-inverse.navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

.navbar-inverse #signtext{
    margin-top: 22px;
    padding:5px;
    padding-left: 45px;
    padding-right:45px;
    background-color: #009999;
    border-radius:10px;
}

.navbar-inverse #signcolor{
    color:white;
}

.img-responsive{
        background-image: url(images/laptop.jpg);
	background-size: 100% auto; 
        background-repeat:no-repeat;
        display: compact;
	text-align: center;
        height:600px;
}


.logo-wrapper{
    
    margin-top: 40px;
    display: inline-block;
    color: white;
}

.logo-wrapper .text{
    font-family: Arial, Helvetica, sans-serif;
    font-size:40px;
    font-weight:100;
}

.logo-wrapper .highlight{
    font-size: 70px;
    font-weight: 900; 
}

.logo-wrapper .subheading{
    margin-left: 60%;
   font-style:italic;
    font-size: 18px;
}

.signup{
    margin-left: 800px;
    font-size: 19px;
    padding:5px;
    padding-left: 25px;
    padding-right:25px;
    background-color: red;
    border-radius:20px;
    width:170px;
    text-align: center;
    height:40px;
   
}
