/* 
    Document   : accountCSS
    Created on : Jun 3, 2014, 9:34:07 PM
    Author     : jujsandhu
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.searchBar{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    margin-left: 1%;
    font-weight: 100;
    display:inline-block;
    float:left;
    margin-top: 10px;
}

#wrapper{
    margin-top: -20px;
   height:700px;
   overflow: hidden;
}

.leftCont{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    float:left;
    background-color: white;
    width:180px;
    height:100%;
    padding: 10px;
    border-right: 1px solid #e5e5e5;
}


.leftCont .menu{
    margin:0;
    margin-top:50px;
}

.leftCont #newVidButton{
    background-color: #009999;
    color:white;
    width:160px;
    height:30px;
    padding:5px;
     padding-left: 15px;
    border-radius: 3px;
}

.leftCont #newVidButton:hover{
    opacity:0.7;
    cursor: pointer; 
}

/****** Menu stuff *******/
.selected, .selected a{
    background-color: #b92c28;
    color:white !important;
    text-decoration: none;
}

.leftCont .menu #list{
    margin:0;
    padding:0;
    font-weight: 400;
    margin-top: 10px;
    list-style-type: none;

}

.leftCont .menu #list > li{
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.leftCont .menu #list > li > a{
    color:black;
}

.leftCont .menu #list > li:hover{
    color:white;
    background-color: #d9534f;
    cursor: pointer;
}

.leftCont .menu #list > li:hover a{
    cursor:pointer;
    background-color: #d9534f;
    color:white;
    text-decoration: none;
}


.leftCont .Categories{
    margin:0;
    margin-top: 30px;
    color: grey;
}


.leftCont .Categories #catList{
    margin:0;
    padding:0;
    font-weight: 400;
    list-style-type: none;     
    cursor: pointer;
}

.leftCont .Categories #catTitle{
    margin-left:20px;
    color: #b92c28;
}

.leftCont .Categories #catList >li[id^="catli_"]{
    padding-bottom: 3px;
    padding-top:3px;
    padding-left:20px;
}

.leftCont .Categories #catList > li[id^="catli_"] > a[id^="cata_"]{
    color:black;
}

.leftCont .Categories #catList >li[id^="catli_"]:hover {
    background-color: #d9534f;
    
}

.leftCont .Categories #catList >li[id^="catli_"]:hover > a[id^="cata_"]{
    color:white;
    text-decoration: none;
    background-color: #d9534f;
}

/****** End Menu stuff *******/

.middleCont{
    left:200px;
    max-height:100%;
   overflow-y:auto;
}



/*popup*/
label, input { display:block; font-weight: 200;}
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:15px;}
.ui-dialog .ui-state-error { padding: .3em;}
.validateTips { border: 1px solid transparent; padding: 0.3em; }
.ui-dialog-titlebar{background: #009999 !important; margin: -5px;color: white !important; 
                   border-color: #009999 !important;border-radius: 0px !important;}
.ui-dialog-title{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 200;}

.ui-button .ui-button-text {
    font-size:12px !important;
}

#dialog-form{
    font-size: 12px;
    
}

.middleCanvas{ 
    padding-left: 5px;
    margin:10px;
    background: white;
    height: 100%;
    display: inline-block;
    border: 1px solid #DDD;
    width: 1070px;
}

div[id^="vidRow_"]{
   
    height: 210px;
    border-top: 1px solid #ccc;
}


div[id^="vidBlock_"]{
    float:left;
    position: relative;
    background-color: white;
    height:180px;
    width:210px;
    margin-left: 1px;
    margin-top:10px;
    
}

p[id^="title_"]{
    margin:0;
    margin-left: 5px;
    margin-top:10px;
    padding-left:5px;
    font-size:14px;
    font-weight:700;
    font-family: Arial, Helvetica, sans-serif;
    color: #285e8e;
}

p[id^="title_"]:hover{
   text-decoration: underline;
   cursor: pointer; 
}

p[id^="subheading_"]{
    margin:0;
    margin-left: 5px;
    padding-left:5px;
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    font-style: italic;
}

.image{
    margin-top: 5px;
    margin-left:5px;
    height:120px;
    width:200px;
}

.image:hover{cursor: pointer;}