
root { 
    display: block; 
}

body{
    font-family: Century Gothic, sans-serif;
    background-color: #F1F1F1;
}

.navbar-inverse {
    
    background-color: white;
    border-color: #d0c8c8;
    
}
/* title */
.navbar-inverse .navbar-brand {
    
    line-height: 40px;
    height: 40px;
    padding-top: 0;
    color: #009999;
    font-size: 26px;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #009999;
}
/* link */
.navbar-inverse .navbar-nav > li > a {
    
     
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color:grey;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    line-height: 40px;
    height: 40px;
    padding-top: 0;
    font-weight: bold;
    padding: 0 8px;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 #fff;
    
    background-color: white;
}
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}


/* caret */
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret,
.navbar-inverse .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-inverse .navbar-nav > .open > a .caret, 
.navbar-inverse .navbar-nav > .open > a:hover .caret, 
.navbar-inverse .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-inverse .navbar-toggle {
    border-color: #DDD;
}
.navbar-inverse .navbar-toggle:hover,
.navbar--inverse .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-inverse.navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

#wrapper{
   height:600px;
   overflow: hidden;
}

.left_container{
    margin-top: 0px;
    margin-left: 20px;
    float:left;
    border:1px solid white;
    box-shadow: 2px 2px 4px #DDD;
    background-color:white;
    width:680px;
    padding: 10px;
    height:580px;
}

.left_container #url_label{
    color:#4b4949;
}

.left_container #annotate{
    margin-left: 560px;
}

.right_container{
    overflow: auto;
    position:absolute;
    border:1px solid;
    padding:5px;
    margin-left:710px;
    border-color: white;
    background-color:white;
    box-shadow: 2px 2px 4px #DDD;
    width:530px;
    height:580px;
}

#annotationLabel{
    font-family: Century Gothic, sans-serif;
    color: #009999
}

#noteArea{
    margin-top: 20px;
    border-color: #d0c8c8;
}

.rowNote{
    float:left;
    display:inline-block;
   word-wrap:break-word;
    overflow:auto;
    width:320px;
    margin-right: 10px;
}

.rowTextArea{
    float:left;
    display:inline-block;
   word-wrap:break-word;
    
    width:320px;
    border-color: #d0c8c8;
    padding: 5px;
    height:40px;
}
div[id^="note_"]{
    cursor:pointer;
}

div[id^="row_"]{    
    height:100%;
    padding: 4px;
    float: left;
    width: 500px;
    border-bottom: thin solid #d0c8c8;
}  

div[id^="time_"]{
    height:30px;
    color:black;
    float: left;
    width: 65px;
    font-weight: 900;
    cursor:pointer;
}

div[id^="edit_"]{
    font-size: 12px;
    float:left;
    color: #d0c8c8;
    cursor:pointer;
}

div[id^="delete_"]{
    margin-left: 10px;
    font-size: 12px;
    float:left;
    color: #d0c8c8;
    cursor:pointer;
}



