
root { 
    display: block; 
}

body{
    font-family: Century Gothic, sans-serif;
    background-color: #F1F1F1;
}

.navbar-inverse {
     
    background-color:white;
    border-color: #d0c8c8;
    
}
/* title */
.navbar-inverse .navbar-brand {
    line-height: 40px;
    height: 40px;
    padding-top: 0;
    color: #009999;
    font-size: 26px;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #009999;
}
/* link */
.navbar-inverse .navbar-nav > li > a {
    
     
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color:grey;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    line-height: 40px;
    height: 40px;
    padding-top: 0;
    font-weight: bold;
    padding: 0 8px;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 #fff;
    
    background-color: white;
}
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}


/* caret */
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
    
}
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret,
.navbar-inverse .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-inverse .navbar-nav > .open > a .caret, 
.navbar-inverse .navbar-nav > .open > a:hover .caret, 
.navbar-inverse .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-inverse .navbar-toggle {
    border-color: #DDD;
}
.navbar-inverse .navbar-toggle:hover,
.navbar--inverse .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-inverse.navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

#wrapper{
   margin-top: -12px;
   height:630px;
   overflow: hidden;
}

.left_container{
    margin:0;
    margin-top: 0px;
    margin-left: 10px;
    float:left;
    border:1px solid white;
    box-shadow: 2px 2px 4px #DDD;
    background-color:white;
    width:600px;
    padding: 3px;
    height:100%;
}

.left_container #url_label{
    color:#4b4949;
}

.left_container #annotate{
    margin-left: 560px;
}

.left_container #features{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     display:inline-block;
}

.left_container #features form{
     float:left;
}

.left_container #features #addImportant{
    margin-left: 15px;
    font-size: 12px;
    margin-top: 5px;
    float:left;
}

.left_container #features #addImportant img{
    cursor: pointer;
}

.left_container #features #addImportant #highImp p, #lowImp p{
    padding-left:10px; 
     display:inline;
}




.right_container{
    overflow: auto;
    position:absolute;
    border:1px solid;
    padding:5px;
    margin-left:615px;
    border-color: white;
    background-color:white;
    box-shadow: 2px 2px 4px #DDD;
    width:630px;
    height:630px;
}


#noteArea{
    margin-top: 10px;
    border-color: #d0c8c8;
}

.rowNote{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    float:left;
    display:inline-block;
    word-wrap:break-word;
    overflow:auto;
    width:440px;
    margin-right: 10px;
}

.rowTextArea{
    float:left;
    display:inline-block;
   word-wrap:break-word;
    width:440px;
    border-color: #d0c8c8;
    padding: 5px;
    height:40px;
}
div[id^="note_"]{
    cursor:pointer;
}

div[id^="row_"]{    
    height:100%;
    padding-left: 4px;
    padding-top: 4px;
    float: left;
    width: 600px;
    border-bottom: thin solid #d0c8c8;
}  

div[id^="time_"]{
    height:30px;
    color:black;
    float: left;
    width: 65px;
    font-weight: 900;
    cursor:pointer;
}

div[id^="edit_"]{
    font-size: 12px;
    float:left;
    color: #d0c8c8;
    cursor:pointer;
}

div[id^="delete_"]{
    margin-left: 10px;
    font-size: 12px;
    float:left;
    color: #d0c8c8;
    cursor:pointer;
}

/********Edit feature**********/

/***cursor******/
#editFeature{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border:1px solid #D5D5D5;
    height:190px;
    width:590px;
    overflow-x: auto;
}

#editFeature #verticalCursor{
    margin-left: -5px;
    width:10px;
    opacity: 0.6;
    position:absolute;
    height:228px;
    border:1px solid white;
}

#editFeature #verticalCursor:hover{
opacity:0.3;
}
    
#editFeature #line{
    margin-top: -5px;
    position:relative;
    width:1px;
    margin-left: 8px;
     border:2px solid red;
     cursor: pointer;   
     height:165px;
}

/*********  timebar  ********/
#editFeature #timebar{
    border:1px solid lightgrey;
    height:30px;
    width:590px;
}

#editFeature #timebar p{
    padding-top: 5px;
    padding-left:2px;
    font-size: 11px;
    float: left;
    color:  #d0c8c8;
}

#editFeature #timebar #endTime{
   margin-left: 520px;
}


#editFeature #content{
    width:590px;
    height:198px;
    background-color: lightgrey;
}

#triangle {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 26px solid red;
        cursor: pointer;
}

/*******content**************************************/

.left_container #content #important{
    height:30%;
}

.left_container #content #notes{
    border-top:2px solid white;
    height:40%;
}

.left_container #content #important .highImpMark{
    height:59px;
    position:absolute;
    float:left;
    border:2px solid red;
    opacity: 0.6;
    cursor:pointer;
    margin-left:1px;
    border-radius: 35px;
}

.left_container #content #important .highImpMark:hover{
   opacity: 0.2;
}

.left_container #content #important .lowImpMark{
    height:59px;
    position:absolute;
    float:left;
    border:2px solid green;
    opacity: 0.6;
    cursor:pointer;
    border-radius: 35px;
}

.left_container #content #important .lowImpMark:hover{
   opacity: 0.2;
}